html{
    background-color: rgb(37, 37, 37);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

#welcome-section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    text-shadow: 3px 5px 5px black;
    font-size: 38px;
}

a{
    text-decoration: none;
    color: rgb(153, 207, 251);
    text-transform: uppercase;
    font-size: 18px;
}

a:hover{
    text-shadow: 3px 1px 5px rgb(0, 185, 200, 0.6);
}

#info-link{
    text-transform: lowercase;
    font-size: 30px;
}

#info-link:hover{
    font-weight: bold;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 30px;
    background-color: black;
    border-bottom: 1px solid rgb(62, 62, 62);
    box-shadow: 1px 3px 50px black;
    text-transform: uppercase;
}

#navbar > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 0px solid white;
    padding: 25px;
    justify-content: start;
}

#navbar > a:hover{
    background-image: linear-gradient(
        90deg,
        hsl(211deg 90% 37%) 0%,
        hsl(211deg 81% 40%) 11%,
        hsl(211deg 72% 43%) 22%,
        hsl(211deg 65% 46%) 31%,
        hsl(211deg 58% 49%) 39%,
        hsl(211deg 58% 53%) 47%,
        hsl(211deg 59% 57%) 54%,
        hsl(211deg 60% 60%) 61%,
        hsl(211deg 62% 64%) 67%,
        hsl(212deg 63% 68%) 73%,
        hsl(212deg 65% 72%) 79%,
        hsl(212deg 68% 76%) 84%,
        hsl(212deg 71% 80%) 90%,
        hsl(212deg 76% 85%) 95%,
        hsl(212deg 85% 89%) 100%
      );
    text-shadow: 1px 1px 2px black;
}


h2{
    text-align: center;
    color: black;
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 18px;
    border-bottom: 1px solid black;
}

#projects{
    background-image: linear-gradient(
        0deg,
        hsl(223deg 100% 21%) 0%,
        hsl(221deg 99% 23%) 11%,
        hsl(220deg 97% 25%) 20%,
        hsl(218deg 96% 27%) 29%,
        hsl(216deg 95% 29%) 37%,
        hsl(215deg 93% 31%) 45%,
        hsl(213deg 92% 33%) 51%,
        hsl(212deg 91% 36%) 58%,
        hsl(211deg 82% 39%) 64%,
        hsl(211deg 66% 45%) 70%,
        hsl(211deg 57% 52%) 75%,
        hsl(211deg 59% 58%) 80%,
        hsl(212deg 62% 66%) 85%,
        hsl(212deg 66% 73%) 90%,
        hsl(212deg 72% 81%) 95%,
        hsl(212deg 85% 89%) 100%
      );
    border-radius: 10px;
    height: 2150px;
    margin-top: 40vh;
    border: 1px solid 1px solid rgb(62, 62, 62);
    box-shadow: 1px 3px 50px black;
}

img{
    height: 400px;
    width: 650px;
}

.project-tile{
    display: flex;
    text-align: center;
    margin: 0 auto;
    border: 1px solid rgb(0, 185, 200, 0.6);
    border-radius: 5px;
    width: 650px;
    background-color: black;
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: 5px 5px 25px black;;
}

.project-tile:hover{
    box-shadow: 2px 2px 35px black;;
}

#contact > h1 {
    text-align: center;
    color: white;
    font-size: 38px;
    padding-top: 250px;
}

#contact > p {
    text-align: center;
    color: white;
    font-size: 15px;
    padding-bottom: 50px;
}
#contact-links{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 150px;
}

#contact-links img{
    height: 75px;
    width: 75px;
}

#contact-links img:hover{
    height: 80px;
    width: 80px;
}

footer{
    background-color: hsl(221deg 99% 23%);
    height: 150px;
    width: 100%;
    overflow-x: hidden;

}

footer > p{
    display: flex;
    justify-content: end;
    font-size: 10px;
    color: white;
    padding-top: 73px;
    margin: 0 15px;
}

@media (max-width: 725px){
    html {
        width: 90%;
        aspect-ratio: 1;
        margin: 0 auto;

    }

    h1{
        font-size: 22px;
    }

    a{
        font-size: 12px;
    }

    #projects{
        height: 60%;
        padding-bottom: 20px;
    }

    .project-tile{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    img{
        width: 100%;
        height: 90%;
    }
    .project-tile p{
        margin: 0;
        font-size: 8px;
    }

    #contact-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact > h1 {
        font-size: 22px;
    }

    #contact > p {
        font-size: 12px;
    }

    footer{
        width: 100%;
        font-size: 6px;
    }
}
@media print{
    #navbar{
        display: none;
    }
}
