html{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-image: linear-gradient(
        225deg,
        hsl(192deg 100% 43%) -1%,
        hsl(193deg 95% 42%) -1%,
        hsl(193deg 92% 40%) 0%,
        hsl(194deg 90% 37%) 4%,
        hsl(196deg 87% 34%) 9%,
        hsl(197deg 84% 31%) 16%,
        hsl(201deg 80% 28%) 26%,
        hsl(208deg 75% 23%) 42%,
        hsl(253deg 100% 15%) 86%
      );
      scroll-behavior: smooth;
      scroll-padding: 40px;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 97%;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 30px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 0px solid black;
    box-shadow: 1px 3px 50px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    z-index: 1;
}

  #logo {
    color: rgb(0, 225, 255);
    justify-content: flex-start;
  }

  #navbar a {
    position: relative;
    text-decoration: none;
    padding: 20px 20px 5px 20px;
    color: whitesmoke;
}

#navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(0, 225, 255);
    transition: width 0.3s ease-in-out;
}

#navbar a:hover::before {
    width: 100%;
}

#navbar a::active {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(0, 225, 255);

}
  section{
    padding-top: 140px;
    margin-top: -140px;
    padding-bottom: 400px;
  }

  #welcome-section {
    color: whitesmoke;
    margin-top: 30vh;
    padding-top: 140px;
    margin-top: -140px;
    margin-left: 12px;
    text-shadow: 3px 5px 5px black;
    justify-content: start;
    margin-left: 100px;
  }

  #welcome-section h2 {
    color: whitesmoke;
    font-size: 40px;
    font-weight: 100;
    font-weight: 200px;
  }

    #main-line{
      display: flex;
      justify-content: space-between;
      margin: inherit 500px;
    }

    #main-line img{
      margin-right: 3em;
      border: 1px solid transparent;
      border-radius: 15px;
      width: 400px;
      height: 400px;
    }

  #top-p{
    padding-top: 250px;
    font-weight: 200;
    font-size: 22px;
  }

  #welcome-section p{
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 300px;
    color: rgb(153, 207, 251);
    text-transform: uppercase;
    font-size: 18px;
  }

  a:hover {
    text-shadow: 3px 1px 5px rgba(0, 185, 200, 0.6);
  }

  #contact-links {
    display: flex;
    gap: 60px;
    justify-content: right;
    margin-top: 10px;
    margin-right: 5em;
    margin-bottom: 150px;
  }

  #contact-links img {
    background-color: azure;
    border: 1px solid azure;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    padding: 5px;
  }

  #contact-links img:hover {
    box-shadow: 4px 4px 5px black;
  }

  h2{
    color: whitesmoke;
  }

  #proj-title{
    display: flex;
    justify-content: center;
  }

  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  img {
    width: 600px;
    height: 400px;
  }

  .project-tile {
    display: flex;
    width: 600px;
    height: auto;
    margin: 15px;
    position: relative;
    overflow: visible;
    border: 1px solid black;
    border-radius: 5px;
  }

  .project-tile .film {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
  }

  .project-tile:hover .film {
    opacity: 1;
  }

  button{
    height: 50px;
    width: 150px;
    margin-top: 25px;
    background-color: rgb(0, 225, 255);
    border: 1px solid rgb(0, 225, 255);
    border-radius: 5px;
  }

  button:hover{
    cursor: pointer;
  }


  footer {
    background-color: rgba(0, 225, 255, 0.65);
    height: 30px;
    width: 100%;
  }

  footer > p {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    color: whitesmoke;
    margin: 0 15px;
  }

  @media (max-width: 850px) {
    html {
      width: 100%;
      aspect-ratio: 1;
      margin: 0 auto;
    }
    #welcome-section{
      margin: 0;
      padding: 0;
      flex-direction: row;
    }

    #welcome-section img{
      height: 200px;
      width: 200px;
      margin-bottom: 5+px;
    }

    h1 {
      font-size: 15px;
    }

    a {
      font-size: 12px;
    }

    .project-tile {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .project-tile p {
      margin: 0;
      font-size: 8px;
    }

    #contact-links img {
      height: 20px;
      width: 20px;
    }

    #contact-links {
      gap: 40px;
    }

    #proj-title{
      font-size: 13px;
      }

    footer {
      width: 100%;
      font-size: 6px;
    }
  }

  @media print {
    #navbar {
      display: none;
    }
  }
